In [1]:
'''
Based on https://www.kaggle.com/justdoit/rossmann-store-sales/xgboost-in-python-with-rmspe/code
Public Score :  0.10826
Private Validation Score :  0.090811
'''

'\nBased on https://www.kaggle.com/justdoit/rossmann-store-sales/xgboost-in-python-with-rmspe/code\nPublic Score :  0.10826\nPrivate Validation Score :  0.090811\n'

In [2]:

import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
import xgboost as xgb
import operator
import matplotlib
matplotlib.use("Agg") #Needed to save figures
import matplotlib.pyplot as plt

In [3]:
def create_feature_map(features):
    outfile = open('xgb.fmap', 'w')
    for i, feat in enumerate(features):
        outfile.write('{0}\t{1}\tq\n'.format(i, feat))
    outfile.close()

def rmspe(y, yhat):
    return np.sqrt(np.mean((yhat/y-1) ** 2))

def rmspe_xg(yhat, y):
    y = np.expm1(y.get_label())
    yhat = np.expm1(yhat)
    return "rmspe", rmspe(y,yhat)

In [152]:
def build_features(features, data):
    # remove NaNs
    data.fillna(0, inplace=True)
    data.loc[data.Open.isnull(), 'Open'] = 1
    # Use some properties directly

    # add some more with a bit of preprocessing
    features.append('SchoolHoliday')
    data['SchoolHoliday'] = data['SchoolHoliday'].astype(float)

    features.extend(['StoreType', 'Assortment', 'StateHoliday']) 
    #features.extend(['StateHoliday'])
    mappings = {'0':0, 'a':1, 'b':2, 'c':3, 'd':4}
    data.StoreType.replace(mappings, inplace=True)
    data.Assortment.replace(mappings, inplace=True)
    data.StateHoliday.replace(mappings, inplace=True)

    features.extend(['DayOfWeek', 'month', 'day', 'year'])
    data['year'] = data.Date.dt.year
    data['month'] = data.Date.dt.month
    data['day'] = data.Date.dt.day
    data['DayOfWeek'] = data.Date.dt.dayofweek
    
    features.extend(['competiter'])
    #competiter
    data['competiter'] = ((data['year'] > data['CompetitionOpenSinceYear']) | \
                          ((data['year'] == data['CompetitionOpenSinceYear']) & (data['month'] >=data['CompetitionOpenSinceMonth']))).astype('int')

In [143]:
# calulate statistical value 
def build_sts_features(train, store):
    
    train['values']=train['Sales']/train['Customers']
    store_mean=train.groupby('Store').mean()
    store_mean['Customers_mean'] = store_mean['Customers']
    store_mean['values_mean'] = store_mean['values']
    store_mean['Store']=store_mean.index
    
    store = pd.merge(store, store_mean[['Store','Customers_mean','values_mean']], on='Store')
    return store

In [126]:
print("Load the training, test and store data using pandas")
types = {'CompetitionOpenSinceYear': np.dtype(int),
         'CompetitionOpenSinceMonth': np.dtype(int),
         'StateHoliday': np.dtype(str),
         'Promo2SinceWeek': np.dtype(int),
         'SchoolHoliday': np.dtype(float),
         'PromoInterval': np.dtype(str)}
train = pd.read_csv("data/train.csv", parse_dates=[2], dtype=types)
test = pd.read_csv("data/test.csv", parse_dates=[3], dtype=types)
store = pd.read_csv("data/store.csv")

Load the training, test and store data using pandas

In [127]:
store =build_sts_features(train, store)

In [82]:
store

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Customers_mean,values_mean
0,1,c,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
1,2,a,a,570,11,2007,1,13,2010,"Jan,Apr,Jul,Oct",486.045648,8.408443
2,3,a,a,14130,12,2006,1,14,2011,"Jan,Apr,Jul,Oct",620.286624,9.117599
3,4,c,c,620,9,2009,0,NaN,NaN,NaN,1100.057325,7.249827
4,5,a,a,29910,4,2015,0,NaN,NaN,NaN,444.360934,8.611229
5,6,a,a,310,12,2013,0,NaN,NaN,NaN,525.990446,8.634089
6,7,a,c,24000,4,2013,0,NaN,NaN,NaN,791.474522,9.232635
7,8,a,a,7520,10,2014,0,NaN,NaN,NaN,547.799363,8.290323
8,9,a,c,2030,8,2000,0,NaN,NaN,NaN,479.487261,11.206413
9,10,a,a,3160,9,2009,0,NaN,NaN,NaN,494.332272,9.331909
10,11,a,c,960,11,2011,1,1,2012,"Jan,Apr,Jul,Oct",940.543524,7.045100
11,12,a,c,1070,NaN,NaN,1,13,2010,"Jan,Apr,Jul,Oct",746.508493,8.347889
12,13,d,a,310,NaN,NaN,1,45,2009,"Feb,May,Aug,Nov",313.641161,12.935484
13,14,a,a,1300,3,2014,1,40,2011,"Jan,Apr,Jul,Oct",522.200637,8.650135
14,15,d,c,4110,3,2010,1,14,2011,"Jan,Apr,Jul,Oct",552.130573,9.953500
15,16,a,c,3270,NaN,NaN,0,NaN,NaN,NaN,703.158174,8.979154
16,17,a,a,50,12,2005,1,26,2010,"Jan,Apr,Jul,Oct",657.208068,7.836924
17,18,d,c,13840,6,2010,1,14,2012,"Jan,Apr,Jul,Oct",592.128450,9.101188
18,19,a,c,3240,NaN,NaN,1,22,2011,"Mar,Jun,Sept,Dec",516.579618,10.262942
19,20,d,a,2340,5,2009,1,40,2014,"Jan,Apr,Jul,Oct",692.952507,9.222633
20,21,c,c,550,10,1999,1,45,2009,"Jan,Apr,Jul,Oct",425.916136,10.411707
21,22,a,a,1040,NaN,NaN,1,22,2012,"Jan,Apr,Jul,Oct",411.779683,8.897388
22,23,d,a,4060,8,2005,0,NaN,NaN,NaN,398.957537,11.283437
23,24,a,c,4590,3,2000,1,40,2011,"Jan,Apr,Jul,Oct",690.870488,11.095816
24,25,c,a,430,4,2003,0,NaN,NaN,NaN,1250.288747,7.052107
25,26,d,a,2300,NaN,NaN,0,NaN,NaN,NaN,461.623142,11.815521
26,27,a,a,60,1,2005,1,5,2011,"Jan,Apr,Jul,Oct",888.786624,8.677086
27,28,a,a,1200,10,2014,1,6,2015,"Mar,Jun,Sept,Dec",475.791932,8.932707
28,29,d,c,2170,NaN,NaN,0,NaN,NaN,NaN,540.587049,11.094595
29,30,a,a,40,2,2014,1,10,2014,"Mar,Jun,Sept,Dec",641.006369,6.745732
...,...,...,...,...,...,...,...,...,...,...,...,...
1085,1086,a,a,180,11,2013,1,18,2011,"Feb,May,Aug,Nov",695.715499,8.898977
1086,1087,d,c,2210,11,2011,0,NaN,NaN,NaN,512.247346,10.124901
1087,1088,a,a,4300,3,2009,1,27,2013,"Jan,Apr,Jul,Oct",401.199575,10.356278
1088,1089,d,a,5220,5,2009,0,NaN,NaN,NaN,829.093418,10.061195
1089,1090,a,a,330,NaN,NaN,1,14,2011,"Jan,Apr,Jul,Oct",650.546709,8.128108
1090,1091,a,c,9990,NaN,NaN,0,NaN,NaN,NaN,580.252654,11.735851
1091,1092,a,a,300,7,2000,1,40,2014,"Jan,Apr,Jul,Oct",955.994723,10.225375
1092,1093,c,c,10450,6,2009,0,NaN,NaN,NaN,719.926752,9.521068
1093,1094,d,a,2380,3,2013,1,40,2014,"Jan,Apr,Jul,Oct",306.767810,12.173194
1094,1095,a,a,690,6,2007,1,14,2011,"Jan,Apr,Jul,Oct",562.701699,6.977261
1095,1096,a,c,1130,NaN,NaN,1,10,2014,"Mar,Jun,Sept,Dec",523.520170,8.493276
1096,1097,b,b,720,3,2002,0,NaN,NaN,NaN,2420.921444,4.015247
1097,1098,a,a,1830,11,2004,0,NaN,NaN,NaN,587.133758,7.341476
1098,1099,a,c,200,4,2013,1,14,2013,"Jan,Apr,Jul,Oct",928.975584,7.860949
1099,1100,a,a,540,NaN,NaN,1,14,2011,"Jan,Apr,Jul,Oct",546.181529,7.920016
1100,1101,d,c,4060,9,2012,0,NaN,NaN,NaN,822.659236,9.971627
1101,1102,a,a,850,11,2012,1,40,2014,"Jan,Apr,Jul,Oct",579.721636,9.867707
1102,1103,d,c,1340,10,2006,1,5,2013,"Feb,May,Aug,Nov",319.749469,12.845461
1103,1104,d,a,260,2,2012,1,14,2011,"Jan,Apr,Jul,Oct",353.845646,12.557783
1104,1105,c,c,330,11,2008,1,5,2013,"Feb,May,Aug,Nov",421.781316,8.776141
1105,1106,a,c,5330,9,2011,1,31,2013,"Jan,Apr,Jul,Oct",464.085987,8.695079
1106,1107,a,a,1400,6,2012,1,13,2010,"Jan,Apr,Jul,Oct",549.465699,9.131440
1107,1108,a,a,540,4,2004,0,NaN,NaN,NaN,488.755839,9.576191
1108,1109,c,a,3490,4,2011,1,22,2012,"Jan,Apr,Jul,Oct",371.179420,10.772077
1109,1110,c,c,900,9,2010,0,NaN,NaN,NaN,449.000000,8.251159
1110,1111,a,a,1900,6,2014,1,31,2013,"Jan,Apr,Jul,Oct",373.548832,11.547388
1111,1112,c,c,1880,4,2006,0,NaN,NaN,NaN,693.498938,11.993853
1112,1113,a,c,9260,NaN,NaN,0,NaN,NaN,NaN,596.763270,9.211189
1113,1114,a,c,870,NaN,NaN,0,NaN,NaN,NaN,2664.057325,6.454992
1114,1115,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec",358.687898,14.415954

In [114]:
print("Assume store open, if not provided")
train.fillna(1, inplace=True)
test.fillna(1, inplace=True)

Assume store open, if not provided

In [115]:
print("Consider only open stores for training. Closed stores wont count into the score.")
train = train[train["Open"] != 0]
print("Use only Sales bigger then zero. Simplifies calculation of rmspe")
train = train[train["Sales"] > 0]

Consider only open stores for training. Closed stores wont count into the score.
Use only Sales bigger then zero. Simplifies calculation of rmspe

In [162]:
print("Join with store")
train = pd.merge(train, store, on='Store')
test = pd.merge(test, store, on='Store')

train=train[train['Store']==1]

Join with store

In [163]:
features = []
features.extend(['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth',
                     'CompetitionOpenSinceYear', 'Promo', 'Promo2', 'Promo2SinceWeek',
                     'Promo2SinceYear','Customers_mean','values_mean'])

print("augment features")
build_features(features, train)
build_features([], test)
print(features)

augment features
['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'Customers_mean', 'values_mean', 'SchoolHoliday', 'StoreType', 'Assortment', 'StateHoliday', 'DayOfWeek', 'month', 'day', 'year', 'competiter']

In [164]:
print('training data processed')

params = {"objective": "reg:linear",
          "booster" : "gbtree",
          "eta": 0.2,
          "max_depth": 10,
          "subsample": 0.9,
          "colsample_bytree": 0.7,
          "silent": 1,
          "seed": 1301
          }
num_boost_round = 20

training data processed

In [165]:
'''
# for custom-feature
features=['Store',
 'CompetitionDistance',
 'Promo',
 'Promo2',
 'Promo2SinceWeek',
 'Promo2SinceYear',
 'SchoolHoliday',
 'StoreType',
 'Assortment',
 'StateHoliday',
 'DayOfWeek',
 'month',
 'day',
 'year',
 'competiter',
 'Customers_mean',
 'values_mean']
 '''

"\n# for custom-feature\nfeatures=['Store',\n 'CompetitionDistance',\n 'Promo',\n 'Promo2',\n 'Promo2SinceWeek',\n 'Promo2SinceYear',\n 'SchoolHoliday',\n 'StoreType',\n 'Assortment',\n 'StateHoliday',\n 'DayOfWeek',\n 'month',\n 'day',\n 'year',\n 'competiter',\n 'Customers_mean',\n 'values_mean']\n "

In [166]:
def train_valid_data(y, train, test_size=0.012, random_state=10):
    print("Train a XGBoost model")
    X_train, X_valid = train_test_split(train, test_size=test_size, random_state=random_state)
    y_train = np.log1p(X_train[y])
    y_valid = np.log1p(X_valid[y])
    dtrain = xgb.DMatrix(X_train[features], y_train)
    dvalid = xgb.DMatrix(X_valid[features], y_valid)
    return dtrain, dvalid

In [167]:
dtrain, dvalid = train_valid_data('Sales', train)

Train a XGBoost model

In [168]:
watchlist = [(dtrain, 'train'), (dvalid, 'eval')]
gbm = xgb.train(params, dtrain, num_boost_round, evals=watchlist, \
  early_stopping_rounds=100, feval=rmspe_xg, verbose_eval=True)

Will train until eval error hasn't decreased in 100 rounds.
[0]	train-rmspe:0.998451	eval-rmspe:0.998501
[1]	train-rmspe:0.993920	eval-rmspe:0.994115
[2]	train-rmspe:0.982825	eval-rmspe:0.983375
[3]	train-rmspe:0.960993	eval-rmspe:0.962238
[4]	train-rmspe:0.925075	eval-rmspe:0.927457
[5]	train-rmspe:0.874175	eval-rmspe:0.877467
[6]	train-rmspe:0.809443	eval-rmspe:0.813519
[7]	train-rmspe:0.734552	eval-rmspe:0.739144
[8]	train-rmspe:0.654454	eval-rmspe:0.659401
[9]	train-rmspe:0.573782	eval-rmspe:0.579651
[10]	train-rmspe:0.496551	eval-rmspe:0.501682
[11]	train-rmspe:0.425469	eval-rmspe:0.429664
[12]	train-rmspe:0.362175	eval-rmspe:0.364167
[13]	train-rmspe:0.307103	eval-rmspe:0.308227
[14]	train-rmspe:0.260393	eval-rmspe:0.259570
[15]	train-rmspe:0.221436	eval-rmspe:0.217085
[16]	train-rmspe:0.190273	eval-rmspe:0.182992
[17]	train-rmspe:0.165729	eval-rmspe:0.158558
[18]	train-rmspe:0.147577	eval-rmspe:0.141244
[19]	train-rmspe:0.129214	eval-rmspe:0.125911

In [169]:
print("Validating")
yhat = gbm.predict(xgb.DMatrix(X_valid[features]))
error = rmspe(X_valid.Sales.values, np.expm1(yhat))
print('RMSPE: {:.6f}'.format(error))

Validating
RMSPE: 0.407004

# submission

In [22]:
dtest = xgb.DMatrix(test[features])
test_probs = gbm.predict(dtest)
# Make Submission
result = pd.DataFrame({"Id": test["Id"], 'Sales': np.expm1(test_probs)})
result.to_csv("xgboost_10_submission.csv", index=False)

# feature importance

In [337]:
create_feature_map(features)
importance = gbm.get_fscore(fmap='xgb.fmap')
importance = sorted(importance.items(), key=operator.itemgetter(1))

df = pd.DataFrame(importance, columns=['feature', 'fscore'])
df['fscore'] = df['fscore'] / df['fscore'].sum()

featp = df.plot(kind='barh', x='feature', y='fscore', legend=False, figsize=(6, 10))
plt.title('XGBoost Feature Importance')
plt.xlabel('relative importance')
fig_featp = featp.get_figure()
fig_featp.savefig('feature_importance_xgb.png', bbox_inches='tight', pad_inches=1)

# Split training data by store

In [170]:
print("Load the training, test and store data using pandas")
types = {'CompetitionOpenSinceYear': np.dtype(int),
         'CompetitionOpenSinceMonth': np.dtype(int),
         'StateHoliday': np.dtype(str),
         'Promo2SinceWeek': np.dtype(int),
         'SchoolHoliday': np.dtype(float),
         'PromoInterval': np.dtype(str)}
train = pd.read_csv("data/train.csv", parse_dates=[2], dtype=types)
test = pd.read_csv("data/test.csv", parse_dates=[3], dtype=types)
store = pd.read_csv("data/store.csv")

store =build_sts_features(train, store)

print("Assume store open, if not provided")
train.fillna(1, inplace=True)
test.fillna(1, inplace=True)

print("Consider only open stores for training. Closed stores wont count into the score.")
train = train[train["Open"] != 0]
print("Use only Sales bigger then zero. Simplifies calculation of rmspe")
train = train[train["Sales"] > 0]

print("group data by storeType and assortment")
storeType=['a','b','c','d']
assortment=['a','c']

#train, test , store

params = {"objective": "reg:linear",
          "booster" : "gbtree",
          "eta": 0.2,
          "max_depth": 10,
          "subsample": 0.9,
          "colsample_bytree": 0.7,
          "silent": 1,
          "seed": 1301
          }
num_boost_round = 20

for i in xrange(1,10):
        
    print('StoreType=%s' % (i))
    #split the store data
    store_s = store[(store['Store']==i)]
    #store_s = store
    #merge train and test data
    print("Join with store")
    train_s = pd.merge(train, store_s, on='Store')
    test_s = pd.merge(test, store_s, on='Store')
        
    #features
    features = []
    features.extend(['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth',
                             'CompetitionOpenSinceYear', 'Promo', 'Promo2', 'Promo2SinceWeek',
                             'Promo2SinceYear','Customers_mean','values_mean'])

    print("augment features")
    build_features(features, train_s)
    build_features([], test_s)
    print(features)
        
        
    #training data
    dtrain, dvalid = train_valid_data('Sales', train_s)
            
    #xgb model 
    watchlist = [(dtrain, 'train'), (dvalid, 'eval')]
    gbm = xgb.train(params, dtrain, num_boost_round, evals=watchlist, \
    early_stopping_rounds=100, feval=rmspe_xg, verbose_eval=False)
        
    print("Validating")
    yhat = gbm.predict(xgb.DMatrix(X_valid[features]))
    error = rmspe(X_valid.Sales.values, np.expm1(yhat))
    print('StoreType=%s RMSPE: {:.6f}'.format(error)) % (i)

Load the training, test and store data using pandas
Assume store open, if not provided
Consider only open stores for training. Closed stores wont count into the score.
Use only Sales bigger then zero. Simplifies calculation of rmspe
group data by storeType and assortment
StoreType=1
Join with store
augment features
['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'Customers_mean', 'values_mean', 'SchoolHoliday', 'StoreType', 'Assortment', 'StateHoliday', 'DayOfWeek', 'month', 'day', 'year', 'competiter']
Train a XGBoost model
Validating
StoreType=1 RMSPE: 0.407004
StoreType=2
Join with store
augment features
['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'Customers_mean', 'values_mean', 'SchoolHoliday', 'StoreType', 'Assortment', 'StateHoliday', 'DayOfWeek', 'month', 'day', 'year', 'competiter']
Train a XGBoost model
Validating
StoreType=2 RMSPE: 0.370496
StoreType=3
Join with store
augment features
['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'Customers_mean', 'values_mean', 'SchoolHoliday', 'StoreType', 'Assortment', 'StateHoliday', 'DayOfWeek', 'month', 'day', 'year', 'competiter']
Train a XGBoost model
Validating
StoreType=3 RMSPE: 0.354843
StoreType=4
Join with store
augment features
['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'Customers_mean', 'values_mean', 'SchoolHoliday', 'StoreType', 'Assortment', 'StateHoliday', 'DayOfWeek', 'month', 'day', 'year', 'competiter']
Train a XGBoost model
Validating
StoreType=4 RMSPE: 0.786613
StoreType=5
Join with store
augment features
['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'Customers_mean', 'values_mean', 'SchoolHoliday', 'StoreType', 'Assortment', 'StateHoliday', 'DayOfWeek', 'month', 'day', 'year', 'competiter']
Train a XGBoost model
Validating
StoreType=5 RMSPE: 0.402403
StoreType=6
Join with store
augment features
['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'Customers_mean', 'values_mean', 'SchoolHoliday', 'StoreType', 'Assortment', 'StateHoliday', 'DayOfWeek', 'month', 'day', 'year', 'competiter']
Train a XGBoost model
Validating
StoreType=6 RMSPE: 0.351210
StoreType=7
Join with store
augment features
['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'Customers_mean', 'values_mean', 'SchoolHoliday', 'StoreType', 'Assortment', 'StateHoliday', 'DayOfWeek', 'month', 'day', 'year', 'competiter']
Train a XGBoost model
Validating
StoreType=7 RMSPE: 0.561383
StoreType=8
Join with store
augment features
['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'Customers_mean', 'values_mean', 'SchoolHoliday', 'StoreType', 'Assortment', 'StateHoliday', 'DayOfWeek', 'month', 'day', 'year', 'competiter']
Train a XGBoost model
Validating
StoreType=8 RMSPE: 0.330315
StoreType=9
Join with store
augment features
['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'Customers_mean', 'values_mean', 'SchoolHoliday', 'StoreType', 'Assortment', 'StateHoliday', 'DayOfWeek', 'month', 'day', 'year', 'competiter']
Train a XGBoost model
Validating
StoreType=9 RMSPE: 0.398538