In [1]:
'''
Based on https://www.kaggle.com/justdoit/rossmann-store-sales/xgboost-in-python-with-rmspe/code
Public Score :  0.11389
Private Validation Score :  0.096959
'''

'\nBased on https://www.kaggle.com/justdoit/rossmann-store-sales/xgboost-in-python-with-rmspe/code\nPublic Score :  0.11389\nPrivate Validation Score :  0.096959\n'

In [1]:

import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
import xgboost as xgb
import operator
import matplotlib
matplotlib.use("Agg") #Needed to save figures
import matplotlib.pyplot as plt

In [2]:
def create_feature_map(features):
    outfile = open('xgb.fmap', 'w')
    for i, feat in enumerate(features):
        outfile.write('{0}\t{1}\tq\n'.format(i, feat))
    outfile.close()

def rmspe(y, yhat):
    return np.sqrt(np.mean((yhat/y-1) ** 2))

def rmspe_xg(yhat, y):
    y = np.expm1(y.get_label())
    yhat = np.expm1(yhat)
    return "rmspe", rmspe(y,yhat)

In [213]:
def build_features(features, data):
    # remove NaNs
    data.fillna(0, inplace=True)
    data.loc[data.Open.isnull(), 'Open'] = 1
    # Use some properties directly

    # add some more with a bit of preprocessing
    features.append('SchoolHoliday')
    data['SchoolHoliday'] = data['SchoolHoliday'].astype(float)

    features.extend(['StoreType', 'Assortment', 'StateHoliday'])
    mappings = {'0':0, 'a':1, 'b':2, 'c':3, 'd':4}
    data.StoreType.replace(mappings, inplace=True)
    data.Assortment.replace(mappings, inplace=True)
    data.StateHoliday.replace(mappings, inplace=True)

    features.extend(['DayOfWeek', 'month', 'day', 'year'])
    data['year'] = data.Date.dt.year
    data['month'] = data.Date.dt.month
    data['day'] = data.Date.dt.day
    data['DayOfWeek'] = data.Date.dt.dayofweek
    
    features.extend(['competiter'])
    #competiter
    data['competiter'] = ((data['year'] > data['CompetitionOpenSinceYear']) | \
                          ((data['year'] == data['CompetitionOpenSinceYear']) & (data['month'] >=data['CompetitionOpenSinceMonth']))).astype('int')

In [314]:
print("Load the training, test and store data using pandas")
types = {'CompetitionOpenSinceYear': np.dtype(int),
         'CompetitionOpenSinceMonth': np.dtype(int),
         'StateHoliday': np.dtype(str),
         'Promo2SinceWeek': np.dtype(int),
         'SchoolHoliday': np.dtype(float),
         'PromoInterval': np.dtype(str)}
train = pd.read_csv("data/train.csv", parse_dates=[2], dtype=types)
test = pd.read_csv("data/test.csv", parse_dates=[3], dtype=types)
store = pd.read_csv("data/store.csv")

Load the training, test and store data using pandas

In [315]:
# 計算平均人數和客單價
train['values']=train['Sales']/train['Customers']

store_mean=train.groupby('Store').mean()

In [316]:
store_mean['Customers_mean'] = store_mean['Customers']
store_mean['values_mean'] = store_mean['values']

In [317]:
store_mean['Store']=store_mean.index

In [318]:
store = pd.merge(store, store_mean[['Store','Customers_mean','values_mean']], on='Store')

In [319]:
train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,values
0,1,5,2015-07-31,5263,555,1,1,0,1,9.482883
1,2,5,2015-07-31,6064,625,1,1,0,1,9.702400
2,3,5,2015-07-31,8314,821,1,1,0,1,10.126675
3,4,5,2015-07-31,13995,1498,1,1,0,1,9.342457
4,5,5,2015-07-31,4822,559,1,1,0,1,8.626118
5,6,5,2015-07-31,5651,589,1,1,0,1,9.594228
6,7,5,2015-07-31,15344,1414,1,1,0,1,10.851485
7,8,5,2015-07-31,8492,833,1,1,0,1,10.194478
8,9,5,2015-07-31,8565,687,1,1,0,1,12.467249
9,10,5,2015-07-31,7185,681,1,1,0,1,10.550661
10,11,5,2015-07-31,10457,1236,1,1,0,1,8.460356
11,12,5,2015-07-31,8959,962,1,1,0,1,9.312890
12,13,5,2015-07-31,8821,568,1,1,0,0,15.529930
13,14,5,2015-07-31,6544,710,1,1,0,1,9.216901
14,15,5,2015-07-31,9191,766,1,1,0,1,11.998695
15,16,5,2015-07-31,10231,979,1,1,0,1,10.450460
16,17,5,2015-07-31,8430,946,1,1,0,1,8.911205
17,18,5,2015-07-31,10071,936,1,1,0,1,10.759615
18,19,5,2015-07-31,8234,718,1,1,0,1,11.467967
19,20,5,2015-07-31,9593,974,1,1,0,0,9.849076
20,21,5,2015-07-31,9515,682,1,1,0,1,13.951613
21,22,5,2015-07-31,6566,633,1,1,0,0,10.372828
22,23,5,2015-07-31,7273,560,1,1,0,1,12.987500
23,24,5,2015-07-31,14190,1082,1,1,0,1,13.114603
24,25,5,2015-07-31,14180,1586,1,1,0,1,8.940731
25,26,5,2015-07-31,7818,611,1,1,0,1,12.795417
26,27,5,2015-07-31,13213,1263,1,1,0,1,10.461599
27,28,5,2015-07-31,7301,663,1,1,0,1,11.012066
28,29,5,2015-07-31,9411,737,1,1,0,1,12.769335
29,30,5,2015-07-31,4776,625,1,1,0,1,7.641600
...,...,...,...,...,...,...,...,...,...,...
1017179,1086,2,2013-01-01,0,0,0,0,a,1,NaN
1017180,1087,2,2013-01-01,0,0,0,0,a,1,NaN
1017181,1088,2,2013-01-01,0,0,0,0,a,1,NaN
1017182,1089,2,2013-01-01,0,0,0,0,a,1,NaN
1017183,1090,2,2013-01-01,0,0,0,0,a,1,NaN
1017184,1091,2,2013-01-01,0,0,0,0,a,1,NaN
1017185,1092,2,2013-01-01,0,0,0,0,a,1,NaN
1017186,1093,2,2013-01-01,0,0,0,0,a,1,NaN
1017187,1094,2,2013-01-01,0,0,0,0,a,1,NaN
1017188,1095,2,2013-01-01,0,0,0,0,a,1,NaN
1017189,1096,2,2013-01-01,0,0,0,0,a,1,NaN
1017190,1097,2,2013-01-01,5961,1405,1,0,a,1,4.242705
1017191,1098,2,2013-01-01,0,0,0,0,a,1,NaN
1017192,1099,2,2013-01-01,0,0,0,0,a,1,NaN
1017193,1100,2,2013-01-01,0,0,0,0,a,1,NaN
1017194,1101,2,2013-01-01,0,0,0,0,a,1,NaN
1017195,1102,2,2013-01-01,0,0,0,0,a,1,NaN
1017196,1103,2,2013-01-01,0,0,0,0,a,1,NaN
1017197,1104,2,2013-01-01,0,0,0,0,a,1,NaN
1017198,1105,2,2013-01-01,0,0,0,0,a,1,NaN
1017199,1106,2,2013-01-01,0,0,0,0,a,1,NaN
1017200,1107,2,2013-01-01,0,0,0,0,a,1,NaN
1017201,1108,2,2013-01-01,0,0,0,0,a,1,NaN
1017202,1109,2,2013-01-01,0,0,0,0,a,1,NaN
1017203,1110,2,2013-01-01,0,0,0,0,a,1,NaN
1017204,1111,2,2013-01-01,0,0,0,0,a,1,NaN
1017205,1112,2,2013-01-01,0,0,0,0,a,1,NaN
1017206,1113,2,2013-01-01,0,0,0,0,a,1,NaN
1017207,1114,2,2013-01-01,0,0,0,0,a,1,NaN
1017208,1115,2,2013-01-01,0,0,0,0,a,1,NaN

In [320]:
store

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Customers_mean,values_mean
0,1,c,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
1,2,a,a,570,11,2007,1,13,2010,"Jan,Apr,Jul,Oct",486.045648,8.408443
2,3,a,a,14130,12,2006,1,14,2011,"Jan,Apr,Jul,Oct",620.286624,9.117599
3,4,c,c,620,9,2009,0,NaN,NaN,NaN,1100.057325,7.249827
4,5,a,a,29910,4,2015,0,NaN,NaN,NaN,444.360934,8.611229
5,6,a,a,310,12,2013,0,NaN,NaN,NaN,525.990446,8.634089
6,7,a,c,24000,4,2013,0,NaN,NaN,NaN,791.474522,9.232635
7,8,a,a,7520,10,2014,0,NaN,NaN,NaN,547.799363,8.290323
8,9,a,c,2030,8,2000,0,NaN,NaN,NaN,479.487261,11.206413
9,10,a,a,3160,9,2009,0,NaN,NaN,NaN,494.332272,9.331909
10,11,a,c,960,11,2011,1,1,2012,"Jan,Apr,Jul,Oct",940.543524,7.045100
11,12,a,c,1070,NaN,NaN,1,13,2010,"Jan,Apr,Jul,Oct",746.508493,8.347889
12,13,d,a,310,NaN,NaN,1,45,2009,"Feb,May,Aug,Nov",313.641161,12.935484
13,14,a,a,1300,3,2014,1,40,2011,"Jan,Apr,Jul,Oct",522.200637,8.650135
14,15,d,c,4110,3,2010,1,14,2011,"Jan,Apr,Jul,Oct",552.130573,9.953500
15,16,a,c,3270,NaN,NaN,0,NaN,NaN,NaN,703.158174,8.979154
16,17,a,a,50,12,2005,1,26,2010,"Jan,Apr,Jul,Oct",657.208068,7.836924
17,18,d,c,13840,6,2010,1,14,2012,"Jan,Apr,Jul,Oct",592.128450,9.101188
18,19,a,c,3240,NaN,NaN,1,22,2011,"Mar,Jun,Sept,Dec",516.579618,10.262942
19,20,d,a,2340,5,2009,1,40,2014,"Jan,Apr,Jul,Oct",692.952507,9.222633
20,21,c,c,550,10,1999,1,45,2009,"Jan,Apr,Jul,Oct",425.916136,10.411707
21,22,a,a,1040,NaN,NaN,1,22,2012,"Jan,Apr,Jul,Oct",411.779683,8.897388
22,23,d,a,4060,8,2005,0,NaN,NaN,NaN,398.957537,11.283437
23,24,a,c,4590,3,2000,1,40,2011,"Jan,Apr,Jul,Oct",690.870488,11.095816
24,25,c,a,430,4,2003,0,NaN,NaN,NaN,1250.288747,7.052107
25,26,d,a,2300,NaN,NaN,0,NaN,NaN,NaN,461.623142,11.815521
26,27,a,a,60,1,2005,1,5,2011,"Jan,Apr,Jul,Oct",888.786624,8.677086
27,28,a,a,1200,10,2014,1,6,2015,"Mar,Jun,Sept,Dec",475.791932,8.932707
28,29,d,c,2170,NaN,NaN,0,NaN,NaN,NaN,540.587049,11.094595
29,30,a,a,40,2,2014,1,10,2014,"Mar,Jun,Sept,Dec",641.006369,6.745732
...,...,...,...,...,...,...,...,...,...,...,...,...
1085,1086,a,a,180,11,2013,1,18,2011,"Feb,May,Aug,Nov",695.715499,8.898977
1086,1087,d,c,2210,11,2011,0,NaN,NaN,NaN,512.247346,10.124901
1087,1088,a,a,4300,3,2009,1,27,2013,"Jan,Apr,Jul,Oct",401.199575,10.356278
1088,1089,d,a,5220,5,2009,0,NaN,NaN,NaN,829.093418,10.061195
1089,1090,a,a,330,NaN,NaN,1,14,2011,"Jan,Apr,Jul,Oct",650.546709,8.128108
1090,1091,a,c,9990,NaN,NaN,0,NaN,NaN,NaN,580.252654,11.735851
1091,1092,a,a,300,7,2000,1,40,2014,"Jan,Apr,Jul,Oct",955.994723,10.225375
1092,1093,c,c,10450,6,2009,0,NaN,NaN,NaN,719.926752,9.521068
1093,1094,d,a,2380,3,2013,1,40,2014,"Jan,Apr,Jul,Oct",306.767810,12.173194
1094,1095,a,a,690,6,2007,1,14,2011,"Jan,Apr,Jul,Oct",562.701699,6.977261
1095,1096,a,c,1130,NaN,NaN,1,10,2014,"Mar,Jun,Sept,Dec",523.520170,8.493276
1096,1097,b,b,720,3,2002,0,NaN,NaN,NaN,2420.921444,4.015247
1097,1098,a,a,1830,11,2004,0,NaN,NaN,NaN,587.133758,7.341476
1098,1099,a,c,200,4,2013,1,14,2013,"Jan,Apr,Jul,Oct",928.975584,7.860949
1099,1100,a,a,540,NaN,NaN,1,14,2011,"Jan,Apr,Jul,Oct",546.181529,7.920016
1100,1101,d,c,4060,9,2012,0,NaN,NaN,NaN,822.659236,9.971627
1101,1102,a,a,850,11,2012,1,40,2014,"Jan,Apr,Jul,Oct",579.721636,9.867707
1102,1103,d,c,1340,10,2006,1,5,2013,"Feb,May,Aug,Nov",319.749469,12.845461
1103,1104,d,a,260,2,2012,1,14,2011,"Jan,Apr,Jul,Oct",353.845646,12.557783
1104,1105,c,c,330,11,2008,1,5,2013,"Feb,May,Aug,Nov",421.781316,8.776141
1105,1106,a,c,5330,9,2011,1,31,2013,"Jan,Apr,Jul,Oct",464.085987,8.695079
1106,1107,a,a,1400,6,2012,1,13,2010,"Jan,Apr,Jul,Oct",549.465699,9.131440
1107,1108,a,a,540,4,2004,0,NaN,NaN,NaN,488.755839,9.576191
1108,1109,c,a,3490,4,2011,1,22,2012,"Jan,Apr,Jul,Oct",371.179420,10.772077
1109,1110,c,c,900,9,2010,0,NaN,NaN,NaN,449.000000,8.251159
1110,1111,a,a,1900,6,2014,1,31,2013,"Jan,Apr,Jul,Oct",373.548832,11.547388
1111,1112,c,c,1880,4,2006,0,NaN,NaN,NaN,693.498938,11.993853
1112,1113,a,c,9260,NaN,NaN,0,NaN,NaN,NaN,596.763270,9.211189
1113,1114,a,c,870,NaN,NaN,0,NaN,NaN,NaN,2664.057325,6.454992
1114,1115,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec",358.687898,14.415954

In [321]:
print("Assume store open, if not provided")
train.fillna(1, inplace=True)
test.fillna(1, inplace=True)

Assume store open, if not provided

In [322]:
print("Consider only open stores for training. Closed stores wont count into the score.")
train = train[train["Open"] != 0]
print("Use only Sales bigger then zero. Simplifies calculation of rmspe")
train = train[train["Sales"] > 0]

Consider only open stores for training. Closed stores wont count into the score.
Use only Sales bigger then zero. Simplifies calculation of rmspe

In [323]:
print("Join with store")
train = pd.merge(train, store, on='Store')
test = pd.merge(test, store, on='Store')

Join with store

In [324]:
train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,values,...,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Customers_mean,values_mean
0,1,5,2015-07-31,5263,555,1,1,0,1,9.482883,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
1,1,4,2015-07-30,5020,546,1,1,0,1,9.194139,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
2,1,3,2015-07-29,4782,523,1,1,0,1,9.143403,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
3,1,2,2015-07-28,5011,560,1,1,0,1,8.948214,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
4,1,1,2015-07-27,6102,612,1,1,0,1,9.970588,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
5,1,6,2015-07-25,4364,500,1,0,0,0,8.728000,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
6,1,5,2015-07-24,3706,459,1,0,0,0,8.074074,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
7,1,4,2015-07-23,3769,503,1,0,0,0,7.493042,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
8,1,3,2015-07-22,3464,463,1,0,0,0,7.481641,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
9,1,2,2015-07-21,3558,469,1,0,0,0,7.586354,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
10,1,1,2015-07-20,4395,526,1,0,0,0,8.355513,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
11,1,6,2015-07-18,4406,512,1,0,0,0,8.605469,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
12,1,5,2015-07-17,4852,519,1,1,0,0,9.348748,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
13,1,4,2015-07-16,4427,517,1,1,0,0,8.562863,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
14,1,3,2015-07-15,4767,550,1,1,0,0,8.667273,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
15,1,2,2015-07-14,5042,544,1,1,0,0,9.268382,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
16,1,1,2015-07-13,5054,553,1,1,0,0,9.139241,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
17,1,6,2015-07-11,3530,441,1,0,0,0,8.004535,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
18,1,5,2015-07-10,3808,449,1,0,0,0,8.481069,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
19,1,4,2015-07-09,3897,480,1,0,0,0,8.118750,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
20,1,3,2015-07-08,3797,485,1,0,0,0,7.828866,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
21,1,2,2015-07-07,3650,485,1,0,0,0,7.525773,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
22,1,1,2015-07-06,4359,540,1,0,0,0,8.072222,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
23,1,6,2015-07-04,4797,560,1,0,0,0,8.566071,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
24,1,5,2015-07-03,4665,538,1,1,0,0,8.671004,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
25,1,4,2015-07-02,5558,573,1,1,0,0,9.699825,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
26,1,3,2015-07-01,5223,562,1,1,0,0,9.293594,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
27,1,2,2015-06-30,5735,568,1,1,0,0,10.096831,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
28,1,1,2015-06-29,5197,541,1,1,0,0,9.606285,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
29,1,6,2015-06-27,4019,463,1,0,0,0,8.680346,...,a,1270,9,2008,0,NaN,NaN,NaN,467.646497,8.393038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844308,292,2,2013-02-05,7336,841,1,1,0,1,8.722949,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844309,292,1,2013-02-04,7584,858,1,1,0,1,8.839161,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844310,292,6,2013-02-02,3667,412,1,0,0,0,8.900485,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844311,292,5,2013-02-01,5668,670,1,0,0,0,8.459701,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844312,292,4,2013-01-31,5657,739,1,0,0,0,7.654939,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844313,292,3,2013-01-30,4351,653,1,0,0,0,6.663093,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844314,292,2,2013-01-29,4796,683,1,0,0,0,7.021962,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844315,292,1,2013-01-28,5510,769,1,0,0,0,7.165150,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844316,292,6,2013-01-26,3142,362,1,0,0,0,8.679558,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844317,292,5,2013-01-25,6229,737,1,1,0,0,8.451832,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844318,292,4,2013-01-24,5605,745,1,1,0,0,7.523490,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844319,292,3,2013-01-23,5969,710,1,1,0,0,8.407042,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844320,292,2,2013-01-22,6757,797,1,1,0,0,8.478043,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844321,292,1,2013-01-21,7863,916,1,1,0,0,8.584061,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844322,292,6,2013-01-19,2676,328,1,0,0,0,8.158537,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844323,292,5,2013-01-18,4943,644,1,0,0,0,7.675466,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844324,292,4,2013-01-17,4829,686,1,0,0,0,7.039359,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844325,292,3,2013-01-16,4979,671,1,0,0,0,7.420268,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844326,292,2,2013-01-15,4723,711,1,0,0,0,6.642757,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844327,292,1,2013-01-14,5560,784,1,0,0,0,7.091837,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844328,292,6,2013-01-12,3035,373,1,0,0,0,8.136729,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844329,292,5,2013-01-11,6316,756,1,1,0,0,8.354497,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844330,292,4,2013-01-10,6173,747,1,1,0,0,8.263722,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844331,292,3,2013-01-09,6436,765,1,1,0,0,8.413072,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844332,292,2,2013-01-08,6859,792,1,1,0,0,8.660354,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844333,292,1,2013-01-07,9291,1002,1,1,0,0,9.272455,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844334,292,6,2013-01-05,2748,340,1,0,0,0,8.082353,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844335,292,5,2013-01-04,4202,560,1,0,0,1,7.503571,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844336,292,4,2013-01-03,4580,662,1,0,0,1,6.918429,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697
844337,292,3,2013-01-02,5076,672,1,0,0,1,7.553571,...,a,1100,6,2009,0,NaN,NaN,NaN,574.518047,8.111697

In [325]:
features = []
features.extend(['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth',
                     'CompetitionOpenSinceYear', 'Promo', 'Promo2', 'Promo2SinceWeek',
                     'Promo2SinceYear','Customers_mean'])

print("augment features")
build_features(features, train)
build_features([], test)
print(features)

augment features
['Store', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'Customers_mean', 'SchoolHoliday', 'StoreType', 'Assortment', 'StateHoliday', 'DayOfWeek', 'month', 'day', 'year', 'competiter']

In [326]:
train[train['CompetitionOpenSinceYear']==2015].sort(['Store','Date'])

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,values,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Customers_mean,values_mean,year,month,day,competiter
3906,5,2,2013-01-02,4253,577,1,0,0,1,7.370884,...,0,0,0,0,444.360934,8.611229,2013,1,2,0
3905,5,3,2013-01-03,3465,491,1,0,0,0,7.057026,...,0,0,0,0,444.360934,8.611229,2013,1,3,0
3904,5,4,2013-01-04,4456,533,1,0,0,0,8.360225,...,0,0,0,0,444.360934,8.611229,2013,1,4,0
3903,5,5,2013-01-05,1590,202,1,0,0,0,7.871287,...,0,0,0,0,444.360934,8.611229,2013,1,5,0
3902,5,0,2013-01-07,6978,717,1,1,0,0,9.732218,...,0,0,0,0,444.360934,8.611229,2013,1,7,0
3901,5,1,2013-01-08,5718,613,1,1,0,0,9.327896,...,0,0,0,0,444.360934,8.611229,2013,1,8,0
3900,5,2,2013-01-09,5974,697,1,1,0,0,8.571019,...,0,0,0,0,444.360934,8.611229,2013,1,9,0
3899,5,3,2013-01-10,4999,596,1,1,0,0,8.387584,...,0,0,0,0,444.360934,8.611229,2013,1,10,0
3898,5,4,2013-01-11,5159,562,1,1,0,0,9.179715,...,0,0,0,0,444.360934,8.611229,2013,1,11,0
3897,5,5,2013-01-12,1760,223,1,0,0,0,7.892377,...,0,0,0,0,444.360934,8.611229,2013,1,12,0
3896,5,0,2013-01-14,4045,567,1,0,0,0,7.134039,...,0,0,0,0,444.360934,8.611229,2013,1,14,0
3895,5,1,2013-01-15,3916,520,1,0,0,0,7.530769,...,0,0,0,0,444.360934,8.611229,2013,1,15,0
3894,5,2,2013-01-16,3546,513,1,0,0,0,6.912281,...,0,0,0,0,444.360934,8.611229,2013,1,16,0
3893,5,3,2013-01-17,3401,464,1,0,0,0,7.329741,...,0,0,0,0,444.360934,8.611229,2013,1,17,0
3892,5,4,2013-01-18,4227,501,1,0,0,0,8.437126,...,0,0,0,0,444.360934,8.611229,2013,1,18,0
3891,5,5,2013-01-19,1698,199,1,0,0,0,8.532663,...,0,0,0,0,444.360934,8.611229,2013,1,19,0
3890,5,0,2013-01-21,6217,618,1,1,0,0,10.059871,...,0,0,0,0,444.360934,8.611229,2013,1,21,0
3889,5,1,2013-01-22,5680,626,1,1,0,0,9.073482,...,0,0,0,0,444.360934,8.611229,2013,1,22,0
3888,5,2,2013-01-23,6110,667,1,1,0,0,9.160420,...,0,0,0,0,444.360934,8.611229,2013,1,23,0
3887,5,3,2013-01-24,4397,512,1,1,0,0,8.587891,...,0,0,0,0,444.360934,8.611229,2013,1,24,0
3886,5,4,2013-01-25,4960,564,1,1,0,0,8.794326,...,0,0,0,0,444.360934,8.611229,2013,1,25,0
3885,5,5,2013-01-26,1570,187,1,0,0,0,8.395722,...,0,0,0,0,444.360934,8.611229,2013,1,26,0
3884,5,0,2013-01-28,3089,451,1,0,0,0,6.849224,...,0,0,0,0,444.360934,8.611229,2013,1,28,0
3883,5,1,2013-01-29,3569,472,1,0,0,0,7.561441,...,0,0,0,0,444.360934,8.611229,2013,1,29,0
3882,5,2,2013-01-30,4273,570,1,0,0,0,7.496491,...,0,0,0,0,444.360934,8.611229,2013,1,30,0
3881,5,3,2013-01-31,4392,571,1,0,0,0,7.691769,...,0,0,0,0,444.360934,8.611229,2013,1,31,0
3880,5,4,2013-02-01,4241,576,1,0,0,0,7.362847,...,0,0,0,0,444.360934,8.611229,2013,2,1,0
3879,5,5,2013-02-02,1757,211,1,0,0,0,8.327014,...,0,0,0,0,444.360934,8.611229,2013,2,2,0
3878,5,0,2013-02-04,6846,679,1,1,0,1,10.082474,...,0,0,0,0,444.360934,8.611229,2013,2,4,0
3877,5,1,2013-02-05,5662,590,1,1,0,1,9.596610,...,0,0,0,0,444.360934,8.611229,2013,2,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819308,1085,5,2015-06-27,5018,517,1,0,0,0,9.705996,...,0,0,0,0,632.792994,9.867897,2015,6,27,1
819307,1085,0,2015-06-29,10034,890,1,1,0,0,11.274157,...,0,0,0,0,632.792994,9.867897,2015,6,29,1
819306,1085,1,2015-06-30,9696,841,1,1,0,0,11.529132,...,0,0,0,0,632.792994,9.867897,2015,6,30,1
819305,1085,2,2015-07-01,8696,824,1,1,0,0,10.553398,...,0,0,0,0,632.792994,9.867897,2015,7,1,1
819304,1085,3,2015-07-02,8276,729,1,1,0,0,11.352538,...,0,0,0,0,632.792994,9.867897,2015,7,2,1
819303,1085,4,2015-07-03,8548,799,1,1,0,0,10.698373,...,0,0,0,0,632.792994,9.867897,2015,7,3,1
819302,1085,5,2015-07-04,4601,470,1,0,0,0,9.789362,...,0,0,0,0,632.792994,9.867897,2015,7,4,1
819301,1085,0,2015-07-06,6913,748,1,0,0,0,9.241979,...,0,0,0,0,632.792994,9.867897,2015,7,6,1
819300,1085,1,2015-07-07,5714,633,1,0,0,0,9.026856,...,0,0,0,0,632.792994,9.867897,2015,7,7,1
819299,1085,2,2015-07-08,6581,700,1,0,0,0,9.401429,...,0,0,0,0,632.792994,9.867897,2015,7,8,1
819298,1085,3,2015-07-09,6962,705,1,0,0,0,9.875177,...,0,0,0,0,632.792994,9.867897,2015,7,9,1
819297,1085,4,2015-07-10,6760,746,1,0,0,0,9.061662,...,0,0,0,0,632.792994,9.867897,2015,7,10,1
819296,1085,5,2015-07-11,4383,475,1,0,0,0,9.227368,...,0,0,0,0,632.792994,9.867897,2015,7,11,1
819295,1085,0,2015-07-13,10514,953,1,1,0,0,11.032529,...,0,0,0,0,632.792994,9.867897,2015,7,13,1
819294,1085,1,2015-07-14,8979,838,1,1,0,0,10.714797,...,0,0,0,0,632.792994,9.867897,2015,7,14,1
819293,1085,2,2015-07-15,8617,844,1,1,0,0,10.209716,...,0,0,0,0,632.792994,9.867897,2015,7,15,1
819292,1085,3,2015-07-16,8007,792,1,1,0,1,10.109848,...,0,0,0,0,632.792994,9.867897,2015,7,16,1
819291,1085,4,2015-07-17,7989,788,1,1,0,1,10.138325,...,0,0,0,0,632.792994,9.867897,2015,7,17,1
819290,1085,5,2015-07-18,5103,502,1,0,0,0,10.165339,...,0,0,0,0,632.792994,9.867897,2015,7,18,1
819289,1085,0,2015-07-20,6837,748,1,0,0,1,9.140374,...,0,0,0,0,632.792994,9.867897,2015,7,20,1
819288,1085,1,2015-07-21,5982,612,1,0,0,1,9.774510,...,0,0,0,0,632.792994,9.867897,2015,7,21,1
819287,1085,2,2015-07-22,5637,611,1,0,0,1,9.225859,...,0,0,0,0,632.792994,9.867897,2015,7,22,1
819286,1085,3,2015-07-23,6592,663,1,0,0,1,9.942685,...,0,0,0,0,632.792994,9.867897,2015,7,23,1
819285,1085,4,2015-07-24,6376,693,1,0,0,1,9.200577,...,0,0,0,0,632.792994,9.867897,2015,7,24,1
819284,1085,5,2015-07-25,4252,457,1,0,0,0,9.304158,...,0,0,0,0,632.792994,9.867897,2015,7,25,1
819283,1085,0,2015-07-27,9787,887,1,1,0,1,11.033822,...,0,0,0,0,632.792994,9.867897,2015,7,27,1
819282,1085,1,2015-07-28,7808,758,1,1,0,1,10.300792,...,0,0,0,0,632.792994,9.867897,2015,7,28,1
819281,1085,2,2015-07-29,7584,720,1,1,0,1,10.533333,...,0,0,0,0,632.792994,9.867897,2015,7,29,1
819280,1085,3,2015-07-30,7836,732,1,1,0,1,10.704918,...,0,0,0,0,632.792994,9.867897,2015,7,30,1
819279,1085,4,2015-07-31,9512,858,1,1,0,1,11.086247,...,0,0,0,0,632.792994,9.867897,2015,7,31,1

In [333]:
print('training data processed')

params = {"objective": "reg:linear",
          "booster" : "gbtree",
          "eta": 0.09,
          "max_depth": 10,
          "subsample": 0.9,
          "colsample_bytree": 0.7,
          "silent": 1,
          "seed": 1301
          }
num_boost_round = 500

training data processed

In [328]:
features=['Store',
 'CompetitionDistance',
 'Promo',
 'Promo2',
 'Promo2SinceWeek',
 'Promo2SinceYear',
 'SchoolHoliday',
 'StoreType',
 'Assortment',
 'StateHoliday',
 'DayOfWeek',
 'month',
 'day',
 'year',
 'competiter',
 'Customers_mean',
 'values_mean']

In [329]:
print("Train a XGBoost model")
X_train, X_valid = train_test_split(train, test_size=0.012, random_state=10)
y_train = np.log1p(X_train.Sales)
y_valid = np.log1p(X_valid.Sales)
dtrain = xgb.DMatrix(X_train[features], y_train)
dvalid = xgb.DMatrix(X_valid[features], y_valid)

Train a XGBoost model

In [334]:
watchlist = [(dtrain, 'train'), (dvalid, 'eval')]
gbm = xgb.train(params, dtrain, num_boost_round, evals=watchlist, \
  early_stopping_rounds=100, feval=rmspe_xg, verbose_eval=True)

Will train until eval error hasn't decreased in 100 rounds.
[0]	train-rmspe:0.999985	eval-rmspe:0.999572
[1]	train-rmspe:0.999918	eval-rmspe:0.999015
[2]	train-rmspe:0.999679	eval-rmspe:0.998042
[3]	train-rmspe:0.998963	eval-rmspe:0.996460
[4]	train-rmspe:0.997164	eval-rmspe:0.994029
[5]	train-rmspe:0.993042	eval-rmspe:0.990466
[6]	train-rmspe:0.986588	eval-rmspe:0.985455
[7]	train-rmspe:0.977158	eval-rmspe:0.978689
[8]	train-rmspe:0.968983	eval-rmspe:0.969829
[9]	train-rmspe:0.959351	eval-rmspe:0.958625
[10]	train-rmspe:0.944806	eval-rmspe:0.944886
[11]	train-rmspe:0.928470	eval-rmspe:0.928380
[12]	train-rmspe:0.909280	eval-rmspe:0.909154
[13]	train-rmspe:0.887495	eval-rmspe:0.887287
[14]	train-rmspe:0.863079	eval-rmspe:0.862818
[15]	train-rmspe:0.836403	eval-rmspe:0.835991
[16]	train-rmspe:0.807621	eval-rmspe:0.807031
[17]	train-rmspe:0.777181	eval-rmspe:0.776396
[18]	train-rmspe:0.745334	eval-rmspe:0.744299
[19]	train-rmspe:0.712487	eval-rmspe:0.711127
[20]	train-rmspe:0.679097	eval-rmspe:0.677335
[21]	train-rmspe:0.645449	eval-rmspe:0.643193
[22]	train-rmspe:0.611905	eval-rmspe:0.609121
[23]	train-rmspe:0.578795	eval-rmspe:0.575345
[24]	train-rmspe:0.546457	eval-rmspe:0.542214
[25]	train-rmspe:0.515047	eval-rmspe:0.509919
[26]	train-rmspe:0.484729	eval-rmspe:0.478590
[27]	train-rmspe:0.455923	eval-rmspe:0.448570
[28]	train-rmspe:0.428648	eval-rmspe:0.419886
[29]	train-rmspe:0.402632	eval-rmspe:0.392551
[30]	train-rmspe:0.378509	eval-rmspe:0.366838
[31]	train-rmspe:0.356035	eval-rmspe:0.342622
[32]	train-rmspe:0.335120	eval-rmspe:0.319977
[33]	train-rmspe:0.315895	eval-rmspe:0.298877
[34]	train-rmspe:0.298814	eval-rmspe:0.279653
[35]	train-rmspe:0.283404	eval-rmspe:0.262095
[36]	train-rmspe:0.269336	eval-rmspe:0.246028
[37]	train-rmspe:0.257144	eval-rmspe:0.231595
[38]	train-rmspe:0.245748	eval-rmspe:0.218034
[39]	train-rmspe:0.236249	eval-rmspe:0.206271
[40]	train-rmspe:0.228138	eval-rmspe:0.195815
[41]	train-rmspe:0.221164	eval-rmspe:0.186442
[42]	train-rmspe:0.215078	eval-rmspe:0.178354
[43]	train-rmspe:0.209803	eval-rmspe:0.170948
[44]	train-rmspe:0.205311	eval-rmspe:0.164202
[45]	train-rmspe:0.201703	eval-rmspe:0.158927
[46]	train-rmspe:0.198800	eval-rmspe:0.154025
[47]	train-rmspe:0.196252	eval-rmspe:0.149783
[48]	train-rmspe:0.189208	eval-rmspe:0.146286
[49]	train-rmspe:0.187261	eval-rmspe:0.143379
[50]	train-rmspe:0.185593	eval-rmspe:0.140533
[51]	train-rmspe:0.181345	eval-rmspe:0.138253
[52]	train-rmspe:0.177412	eval-rmspe:0.136406
[53]	train-rmspe:0.176116	eval-rmspe:0.134573
[54]	train-rmspe:0.175604	eval-rmspe:0.133430
[55]	train-rmspe:0.174506	eval-rmspe:0.131568
[56]	train-rmspe:0.173826	eval-rmspe:0.130397
[57]	train-rmspe:0.170261	eval-rmspe:0.129617
[58]	train-rmspe:0.169797	eval-rmspe:0.128783
[59]	train-rmspe:0.169431	eval-rmspe:0.128065
[60]	train-rmspe:0.169061	eval-rmspe:0.127533
[61]	train-rmspe:0.168674	eval-rmspe:0.126753
[62]	train-rmspe:0.168352	eval-rmspe:0.126108
[63]	train-rmspe:0.168194	eval-rmspe:0.125359
[64]	train-rmspe:0.166545	eval-rmspe:0.124991
[65]	train-rmspe:0.165975	eval-rmspe:0.124438
[66]	train-rmspe:0.165741	eval-rmspe:0.123714
[67]	train-rmspe:0.165887	eval-rmspe:0.123157
[68]	train-rmspe:0.165644	eval-rmspe:0.122627
[69]	train-rmspe:0.160275	eval-rmspe:0.122425
[70]	train-rmspe:0.160066	eval-rmspe:0.122155
[71]	train-rmspe:0.159807	eval-rmspe:0.121883
[72]	train-rmspe:0.159749	eval-rmspe:0.121656
[73]	train-rmspe:0.159583	eval-rmspe:0.121387
[74]	train-rmspe:0.159309	eval-rmspe:0.121057
[75]	train-rmspe:0.158946	eval-rmspe:0.120740
[76]	train-rmspe:0.158582	eval-rmspe:0.120422
[77]	train-rmspe:0.158290	eval-rmspe:0.120168
[78]	train-rmspe:0.158001	eval-rmspe:0.119845
[79]	train-rmspe:0.157223	eval-rmspe:0.119542
[80]	train-rmspe:0.156915	eval-rmspe:0.119254
[81]	train-rmspe:0.156777	eval-rmspe:0.118986
[82]	train-rmspe:0.156660	eval-rmspe:0.118762
[83]	train-rmspe:0.156398	eval-rmspe:0.118521
[84]	train-rmspe:0.156121	eval-rmspe:0.118371
[85]	train-rmspe:0.156092	eval-rmspe:0.118114
[86]	train-rmspe:0.155963	eval-rmspe:0.117918
[87]	train-rmspe:0.155663	eval-rmspe:0.117567
[88]	train-rmspe:0.155543	eval-rmspe:0.117405
[89]	train-rmspe:0.155464	eval-rmspe:0.117333
[90]	train-rmspe:0.155264	eval-rmspe:0.117098
[91]	train-rmspe:0.154999	eval-rmspe:0.116843
[92]	train-rmspe:0.154882	eval-rmspe:0.116585
[93]	train-rmspe:0.154489	eval-rmspe:0.116264
[94]	train-rmspe:0.154251	eval-rmspe:0.115919
[95]	train-rmspe:0.154118	eval-rmspe:0.115724
[96]	train-rmspe:0.153793	eval-rmspe:0.115539
[97]	train-rmspe:0.153637	eval-rmspe:0.115349
[98]	train-rmspe:0.153495	eval-rmspe:0.115153
[99]	train-rmspe:0.153375	eval-rmspe:0.115012
[100]	train-rmspe:0.153279	eval-rmspe:0.114929
[101]	train-rmspe:0.153125	eval-rmspe:0.114746
[102]	train-rmspe:0.152949	eval-rmspe:0.114585
[103]	train-rmspe:0.152731	eval-rmspe:0.114362
[104]	train-rmspe:0.152603	eval-rmspe:0.114223
[105]	train-rmspe:0.152519	eval-rmspe:0.114093
[106]	train-rmspe:0.152073	eval-rmspe:0.113918
[107]	train-rmspe:0.152011	eval-rmspe:0.113748
[108]	train-rmspe:0.151654	eval-rmspe:0.113637
[109]	train-rmspe:0.151370	eval-rmspe:0.113410
[110]	train-rmspe:0.151295	eval-rmspe:0.113303
[111]	train-rmspe:0.151120	eval-rmspe:0.113139
[112]	train-rmspe:0.148209	eval-rmspe:0.112968
[113]	train-rmspe:0.148086	eval-rmspe:0.112770
[114]	train-rmspe:0.147928	eval-rmspe:0.112638
[115]	train-rmspe:0.147760	eval-rmspe:0.112434
[116]	train-rmspe:0.147631	eval-rmspe:0.112189
[117]	train-rmspe:0.147375	eval-rmspe:0.112030
[118]	train-rmspe:0.147140	eval-rmspe:0.111681
[119]	train-rmspe:0.146772	eval-rmspe:0.111410
[120]	train-rmspe:0.146653	eval-rmspe:0.111273
[121]	train-rmspe:0.146543	eval-rmspe:0.111066
[122]	train-rmspe:0.146426	eval-rmspe:0.110938
[123]	train-rmspe:0.146326	eval-rmspe:0.110863
[124]	train-rmspe:0.146222	eval-rmspe:0.110788
[125]	train-rmspe:0.146188	eval-rmspe:0.110611
[126]	train-rmspe:0.146099	eval-rmspe:0.110508
[127]	train-rmspe:0.145940	eval-rmspe:0.110350
[128]	train-rmspe:0.141621	eval-rmspe:0.110242
[129]	train-rmspe:0.141460	eval-rmspe:0.109969
[130]	train-rmspe:0.141289	eval-rmspe:0.109874
[131]	train-rmspe:0.141214	eval-rmspe:0.109745
[132]	train-rmspe:0.139559	eval-rmspe:0.109598
[133]	train-rmspe:0.139465	eval-rmspe:0.109486
[134]	train-rmspe:0.139393	eval-rmspe:0.109418
[135]	train-rmspe:0.139218	eval-rmspe:0.109280
[136]	train-rmspe:0.139386	eval-rmspe:0.109178
[137]	train-rmspe:0.139219	eval-rmspe:0.109045
[138]	train-rmspe:0.139098	eval-rmspe:0.108976
[139]	train-rmspe:0.139006	eval-rmspe:0.108895
[140]	train-rmspe:0.138929	eval-rmspe:0.108807
[141]	train-rmspe:0.139016	eval-rmspe:0.108732
[142]	train-rmspe:0.138845	eval-rmspe:0.108612
[143]	train-rmspe:0.138718	eval-rmspe:0.108517
[144]	train-rmspe:0.138601	eval-rmspe:0.108410
[145]	train-rmspe:0.138390	eval-rmspe:0.108362
[146]	train-rmspe:0.138265	eval-rmspe:0.108300
[147]	train-rmspe:0.137914	eval-rmspe:0.108070
[148]	train-rmspe:0.137842	eval-rmspe:0.108017
[149]	train-rmspe:0.137779	eval-rmspe:0.107933
[150]	train-rmspe:0.137738	eval-rmspe:0.107905
[151]	train-rmspe:0.137610	eval-rmspe:0.107774
[152]	train-rmspe:0.137530	eval-rmspe:0.107696
[153]	train-rmspe:0.137392	eval-rmspe:0.107593
[154]	train-rmspe:0.137335	eval-rmspe:0.107530
[155]	train-rmspe:0.137297	eval-rmspe:0.107505
[156]	train-rmspe:0.136991	eval-rmspe:0.107325
[157]	train-rmspe:0.135254	eval-rmspe:0.107168
[158]	train-rmspe:0.135091	eval-rmspe:0.106985
[159]	train-rmspe:0.135045	eval-rmspe:0.106946
[160]	train-rmspe:0.134913	eval-rmspe:0.106763
[161]	train-rmspe:0.134883	eval-rmspe:0.106724
[162]	train-rmspe:0.134651	eval-rmspe:0.106556
[163]	train-rmspe:0.132728	eval-rmspe:0.106308
[164]	train-rmspe:0.132587	eval-rmspe:0.106153
[165]	train-rmspe:0.132503	eval-rmspe:0.106065
[166]	train-rmspe:0.132370	eval-rmspe:0.105989
[167]	train-rmspe:0.132295	eval-rmspe:0.105895
[168]	train-rmspe:0.132196	eval-rmspe:0.105792
[169]	train-rmspe:0.132155	eval-rmspe:0.105763
[170]	train-rmspe:0.132083	eval-rmspe:0.105671
[171]	train-rmspe:0.132031	eval-rmspe:0.105642
[172]	train-rmspe:0.131943	eval-rmspe:0.105613
[173]	train-rmspe:0.131840	eval-rmspe:0.105540
[174]	train-rmspe:0.131801	eval-rmspe:0.105501
[175]	train-rmspe:0.131747	eval-rmspe:0.105432
[176]	train-rmspe:0.131701	eval-rmspe:0.105386
[177]	train-rmspe:0.131659	eval-rmspe:0.105366
[178]	train-rmspe:0.131545	eval-rmspe:0.105246
[179]	train-rmspe:0.131224	eval-rmspe:0.105180
[180]	train-rmspe:0.131143	eval-rmspe:0.105120
[181]	train-rmspe:0.131108	eval-rmspe:0.105080
[182]	train-rmspe:0.131069	eval-rmspe:0.105053
[183]	train-rmspe:0.131004	eval-rmspe:0.105012
[184]	train-rmspe:0.130647	eval-rmspe:0.104834
[185]	train-rmspe:0.130601	eval-rmspe:0.104791
[186]	train-rmspe:0.130545	eval-rmspe:0.104774
[187]	train-rmspe:0.130461	eval-rmspe:0.104660
[188]	train-rmspe:0.130313	eval-rmspe:0.104612
[189]	train-rmspe:0.129239	eval-rmspe:0.104569
[190]	train-rmspe:0.129190	eval-rmspe:0.104543
[191]	train-rmspe:0.129140	eval-rmspe:0.104495
[192]	train-rmspe:0.126946	eval-rmspe:0.104350
[193]	train-rmspe:0.126929	eval-rmspe:0.104274
[194]	train-rmspe:0.126872	eval-rmspe:0.104142
[195]	train-rmspe:0.126753	eval-rmspe:0.104058
[196]	train-rmspe:0.126588	eval-rmspe:0.103927
[197]	train-rmspe:0.126551	eval-rmspe:0.103819
[198]	train-rmspe:0.126538	eval-rmspe:0.103733
[199]	train-rmspe:0.125783	eval-rmspe:0.103563
[200]	train-rmspe:0.125694	eval-rmspe:0.103485
[201]	train-rmspe:0.125624	eval-rmspe:0.103367
[202]	train-rmspe:0.125551	eval-rmspe:0.103314
[203]	train-rmspe:0.125559	eval-rmspe:0.103222
[204]	train-rmspe:0.125504	eval-rmspe:0.103162
[205]	train-rmspe:0.125406	eval-rmspe:0.103062
[206]	train-rmspe:0.125298	eval-rmspe:0.102977
[207]	train-rmspe:0.125145	eval-rmspe:0.102849
[208]	train-rmspe:0.125058	eval-rmspe:0.102800
[209]	train-rmspe:0.124907	eval-rmspe:0.102670
[210]	train-rmspe:0.124859	eval-rmspe:0.102617
[211]	train-rmspe:0.124817	eval-rmspe:0.102606
[212]	train-rmspe:0.124729	eval-rmspe:0.102514
[213]	train-rmspe:0.124684	eval-rmspe:0.102474
[214]	train-rmspe:0.124577	eval-rmspe:0.102387
[215]	train-rmspe:0.124522	eval-rmspe:0.102352
[216]	train-rmspe:0.124457	eval-rmspe:0.102318
[217]	train-rmspe:0.124409	eval-rmspe:0.102278
[218]	train-rmspe:0.124347	eval-rmspe:0.102222
[219]	train-rmspe:0.124281	eval-rmspe:0.102168
[220]	train-rmspe:0.124233	eval-rmspe:0.102128
[221]	train-rmspe:0.124177	eval-rmspe:0.102096
[222]	train-rmspe:0.124132	eval-rmspe:0.102042
[223]	train-rmspe:0.124019	eval-rmspe:0.101954
[224]	train-rmspe:0.123996	eval-rmspe:0.101927
[225]	train-rmspe:0.123957	eval-rmspe:0.101895
[226]	train-rmspe:0.123609	eval-rmspe:0.101853
[227]	train-rmspe:0.123550	eval-rmspe:0.101830
[228]	train-rmspe:0.122804	eval-rmspe:0.101767
[229]	train-rmspe:0.122714	eval-rmspe:0.101505
[230]	train-rmspe:0.122651	eval-rmspe:0.101468
[231]	train-rmspe:0.122604	eval-rmspe:0.101460
[232]	train-rmspe:0.122518	eval-rmspe:0.101393
[233]	train-rmspe:0.122410	eval-rmspe:0.101302
[234]	train-rmspe:0.122162	eval-rmspe:0.101265
[235]	train-rmspe:0.122050	eval-rmspe:0.101176
[236]	train-rmspe:0.122017	eval-rmspe:0.101157
[237]	train-rmspe:0.122046	eval-rmspe:0.101126
[238]	train-rmspe:0.122001	eval-rmspe:0.101094
[239]	train-rmspe:0.121870	eval-rmspe:0.101043
[240]	train-rmspe:0.121801	eval-rmspe:0.100953
[241]	train-rmspe:0.121740	eval-rmspe:0.100898
[242]	train-rmspe:0.121694	eval-rmspe:0.100843
[243]	train-rmspe:0.121534	eval-rmspe:0.100830
[244]	train-rmspe:0.121436	eval-rmspe:0.100758
[245]	train-rmspe:0.121398	eval-rmspe:0.100734
[246]	train-rmspe:0.121323	eval-rmspe:0.100665
[247]	train-rmspe:0.121301	eval-rmspe:0.100637
[248]	train-rmspe:0.120864	eval-rmspe:0.100576
[249]	train-rmspe:0.120824	eval-rmspe:0.100549
[250]	train-rmspe:0.120761	eval-rmspe:0.100499
[251]	train-rmspe:0.120749	eval-rmspe:0.100488
[252]	train-rmspe:0.118511	eval-rmspe:0.100416
[253]	train-rmspe:0.118390	eval-rmspe:0.100314
[254]	train-rmspe:0.118357	eval-rmspe:0.100306
[255]	train-rmspe:0.118320	eval-rmspe:0.100294
[256]	train-rmspe:0.118255	eval-rmspe:0.100248
[257]	train-rmspe:0.117945	eval-rmspe:0.100218
[258]	train-rmspe:0.117849	eval-rmspe:0.100082
[259]	train-rmspe:0.117824	eval-rmspe:0.100051
[260]	train-rmspe:0.117623	eval-rmspe:0.099956
[261]	train-rmspe:0.117567	eval-rmspe:0.099920
[262]	train-rmspe:0.117526	eval-rmspe:0.099878
[263]	train-rmspe:0.117448	eval-rmspe:0.099851
[264]	train-rmspe:0.117414	eval-rmspe:0.099831
[265]	train-rmspe:0.117345	eval-rmspe:0.099771
[266]	train-rmspe:0.117312	eval-rmspe:0.099763
[267]	train-rmspe:0.117077	eval-rmspe:0.099679
[268]	train-rmspe:0.116989	eval-rmspe:0.099611
[269]	train-rmspe:0.116840	eval-rmspe:0.099597
[270]	train-rmspe:0.116799	eval-rmspe:0.099567
[271]	train-rmspe:0.116724	eval-rmspe:0.099515
[272]	train-rmspe:0.116736	eval-rmspe:0.099439
[273]	train-rmspe:0.116623	eval-rmspe:0.099375
[274]	train-rmspe:0.116594	eval-rmspe:0.099360
[275]	train-rmspe:0.116535	eval-rmspe:0.099277
[276]	train-rmspe:0.116366	eval-rmspe:0.099228
[277]	train-rmspe:0.116347	eval-rmspe:0.099210
[278]	train-rmspe:0.116293	eval-rmspe:0.099154
[279]	train-rmspe:0.116240	eval-rmspe:0.099133
[280]	train-rmspe:0.116200	eval-rmspe:0.099125
[281]	train-rmspe:0.116178	eval-rmspe:0.099110
[282]	train-rmspe:0.116113	eval-rmspe:0.099042
[283]	train-rmspe:0.116037	eval-rmspe:0.098979
[284]	train-rmspe:0.115986	eval-rmspe:0.098949
[285]	train-rmspe:0.115955	eval-rmspe:0.098919
[286]	train-rmspe:0.115902	eval-rmspe:0.098885
[287]	train-rmspe:0.115858	eval-rmspe:0.098845
[288]	train-rmspe:0.115777	eval-rmspe:0.098798
[289]	train-rmspe:0.115673	eval-rmspe:0.098756
[290]	train-rmspe:0.115625	eval-rmspe:0.098738
[291]	train-rmspe:0.115438	eval-rmspe:0.098688
[292]	train-rmspe:0.115376	eval-rmspe:0.098628
[293]	train-rmspe:0.115295	eval-rmspe:0.098584
[294]	train-rmspe:0.115350	eval-rmspe:0.098545
[295]	train-rmspe:0.115311	eval-rmspe:0.098521
[296]	train-rmspe:0.115260	eval-rmspe:0.098481
[297]	train-rmspe:0.115234	eval-rmspe:0.098444
[298]	train-rmspe:0.115209	eval-rmspe:0.098435
[299]	train-rmspe:0.112608	eval-rmspe:0.098384
[300]	train-rmspe:0.112568	eval-rmspe:0.098335
[301]	train-rmspe:0.112538	eval-rmspe:0.098323
[302]	train-rmspe:0.112479	eval-rmspe:0.098300
[303]	train-rmspe:0.112422	eval-rmspe:0.098287
[304]	train-rmspe:0.110591	eval-rmspe:0.098262
[305]	train-rmspe:0.110532	eval-rmspe:0.098191
[306]	train-rmspe:0.110431	eval-rmspe:0.098167
[307]	train-rmspe:0.110358	eval-rmspe:0.098128
[308]	train-rmspe:0.110303	eval-rmspe:0.097951
[309]	train-rmspe:0.110227	eval-rmspe:0.097888
[310]	train-rmspe:0.110187	eval-rmspe:0.097882
[311]	train-rmspe:0.110095	eval-rmspe:0.097786
[312]	train-rmspe:0.110041	eval-rmspe:0.097764
[313]	train-rmspe:0.109982	eval-rmspe:0.097750
[314]	train-rmspe:0.109918	eval-rmspe:0.097694
[315]	train-rmspe:0.109893	eval-rmspe:0.097692
[316]	train-rmspe:0.109854	eval-rmspe:0.097676
[317]	train-rmspe:0.109838	eval-rmspe:0.097667
[318]	train-rmspe:0.109803	eval-rmspe:0.097629
[319]	train-rmspe:0.109790	eval-rmspe:0.097611
[320]	train-rmspe:0.109724	eval-rmspe:0.097578
[321]	train-rmspe:0.109639	eval-rmspe:0.097540
[322]	train-rmspe:0.109168	eval-rmspe:0.097495
[323]	train-rmspe:0.109135	eval-rmspe:0.097463
[324]	train-rmspe:0.109080	eval-rmspe:0.097436
[325]	train-rmspe:0.109013	eval-rmspe:0.097421
[326]	train-rmspe:0.108991	eval-rmspe:0.097405
[327]	train-rmspe:0.108877	eval-rmspe:0.097401
[328]	train-rmspe:0.108839	eval-rmspe:0.097385
[329]	train-rmspe:0.108238	eval-rmspe:0.097349
[330]	train-rmspe:0.108191	eval-rmspe:0.097329
[331]	train-rmspe:0.108154	eval-rmspe:0.097311
[332]	train-rmspe:0.108105	eval-rmspe:0.097276
[333]	train-rmspe:0.107985	eval-rmspe:0.097250
[334]	train-rmspe:0.107936	eval-rmspe:0.097215
[335]	train-rmspe:0.106882	eval-rmspe:0.097184
[336]	train-rmspe:0.106803	eval-rmspe:0.097156
[337]	train-rmspe:0.106739	eval-rmspe:0.097129
[338]	train-rmspe:0.106708	eval-rmspe:0.097095
[339]	train-rmspe:0.106674	eval-rmspe:0.097064
[340]	train-rmspe:0.106461	eval-rmspe:0.097000
[341]	train-rmspe:0.106422	eval-rmspe:0.096992
[342]	train-rmspe:0.106374	eval-rmspe:0.096989
[343]	train-rmspe:0.106359	eval-rmspe:0.096930
[344]	train-rmspe:0.106303	eval-rmspe:0.096898
[345]	train-rmspe:0.106285	eval-rmspe:0.096892
[346]	train-rmspe:0.106137	eval-rmspe:0.096831
[347]	train-rmspe:0.106089	eval-rmspe:0.096763
[348]	train-rmspe:0.106060	eval-rmspe:0.096749
[349]	train-rmspe:0.106007	eval-rmspe:0.096705
[350]	train-rmspe:0.105923	eval-rmspe:0.096611
[351]	train-rmspe:0.105774	eval-rmspe:0.096609
[352]	train-rmspe:0.105683	eval-rmspe:0.096559
[353]	train-rmspe:0.105408	eval-rmspe:0.096526
[354]	train-rmspe:0.105346	eval-rmspe:0.096544
[355]	train-rmspe:0.105228	eval-rmspe:0.096506
[356]	train-rmspe:0.105210	eval-rmspe:0.096499
[357]	train-rmspe:0.105181	eval-rmspe:0.096464
[358]	train-rmspe:0.105146	eval-rmspe:0.096432
[359]	train-rmspe:0.105119	eval-rmspe:0.096406
[360]	train-rmspe:0.105068	eval-rmspe:0.096358
[361]	train-rmspe:0.105040	eval-rmspe:0.096338
[362]	train-rmspe:0.104849	eval-rmspe:0.096262
[363]	train-rmspe:0.104779	eval-rmspe:0.096219
[364]	train-rmspe:0.104765	eval-rmspe:0.096210
[365]	train-rmspe:0.104623	eval-rmspe:0.096189
[366]	train-rmspe:0.104563	eval-rmspe:0.096165
[367]	train-rmspe:0.104537	eval-rmspe:0.096155
[368]	train-rmspe:0.104385	eval-rmspe:0.096107
[369]	train-rmspe:0.104344	eval-rmspe:0.096089
[370]	train-rmspe:0.104304	eval-rmspe:0.096069
[371]	train-rmspe:0.104259	eval-rmspe:0.096045
[372]	train-rmspe:0.104224	eval-rmspe:0.096008
[373]	train-rmspe:0.104206	eval-rmspe:0.095993
[374]	train-rmspe:0.104162	eval-rmspe:0.095974
[375]	train-rmspe:0.104118	eval-rmspe:0.095952
[376]	train-rmspe:0.104091	eval-rmspe:0.095942
[377]	train-rmspe:0.103941	eval-rmspe:0.095888
[378]	train-rmspe:0.103297	eval-rmspe:0.095827
[379]	train-rmspe:0.103270	eval-rmspe:0.095808
[380]	train-rmspe:0.103244	eval-rmspe:0.095791
[381]	train-rmspe:0.103208	eval-rmspe:0.095774
[382]	train-rmspe:0.103153	eval-rmspe:0.095708
[383]	train-rmspe:0.103095	eval-rmspe:0.095664
[384]	train-rmspe:0.103064	eval-rmspe:0.095661
[385]	train-rmspe:0.102906	eval-rmspe:0.095609
[386]	train-rmspe:0.102855	eval-rmspe:0.095573
[387]	train-rmspe:0.102810	eval-rmspe:0.095540
[388]	train-rmspe:0.102800	eval-rmspe:0.095526
[389]	train-rmspe:0.102704	eval-rmspe:0.095495
[390]	train-rmspe:0.102672	eval-rmspe:0.095459
[391]	train-rmspe:0.102637	eval-rmspe:0.095433
[392]	train-rmspe:0.102607	eval-rmspe:0.095419
[393]	train-rmspe:0.102582	eval-rmspe:0.095395
[394]	train-rmspe:0.102554	eval-rmspe:0.095382
[395]	train-rmspe:0.102540	eval-rmspe:0.095377
[396]	train-rmspe:0.102489	eval-rmspe:0.095328
[397]	train-rmspe:0.102445	eval-rmspe:0.095295
[398]	train-rmspe:0.102420	eval-rmspe:0.095283
[399]	train-rmspe:0.102163	eval-rmspe:0.095251
[400]	train-rmspe:0.102112	eval-rmspe:0.095234
[401]	train-rmspe:0.101983	eval-rmspe:0.095198
[402]	train-rmspe:0.101789	eval-rmspe:0.095196
[403]	train-rmspe:0.101765	eval-rmspe:0.095185
[404]	train-rmspe:0.101736	eval-rmspe:0.095166
[405]	train-rmspe:0.101521	eval-rmspe:0.095142
[406]	train-rmspe:0.101492	eval-rmspe:0.095124
[407]	train-rmspe:0.101395	eval-rmspe:0.095092
[408]	train-rmspe:0.101314	eval-rmspe:0.095043
[409]	train-rmspe:0.101261	eval-rmspe:0.095000
[410]	train-rmspe:0.101228	eval-rmspe:0.094986
[411]	train-rmspe:0.101193	eval-rmspe:0.094952
[412]	train-rmspe:0.101159	eval-rmspe:0.094951
[413]	train-rmspe:0.101101	eval-rmspe:0.094940
[414]	train-rmspe:0.100836	eval-rmspe:0.094939
[415]	train-rmspe:0.100804	eval-rmspe:0.094925
[416]	train-rmspe:0.100791	eval-rmspe:0.094925
[417]	train-rmspe:0.100747	eval-rmspe:0.094889
[418]	train-rmspe:0.100724	eval-rmspe:0.094880
[419]	train-rmspe:0.100705	eval-rmspe:0.094869
[420]	train-rmspe:0.100651	eval-rmspe:0.094837
[421]	train-rmspe:0.100484	eval-rmspe:0.094648
[422]	train-rmspe:0.100481	eval-rmspe:0.094638
[423]	train-rmspe:0.100428	eval-rmspe:0.094603
[424]	train-rmspe:0.100403	eval-rmspe:0.094594
[425]	train-rmspe:0.100366	eval-rmspe:0.094569

In [335]:
print("Validating")
yhat = gbm.predict(xgb.DMatrix(X_valid[features]))
error = rmspe(X_valid.Sales.values, np.expm1(yhat))
print('RMSPE: {:.6f}'.format(error))

Validating
RMSPE: 0.093097

# submission

In [336]:
dtest = xgb.DMatrix(test[features])
test_probs = gbm.predict(dtest)
# Make Submission
result = pd.DataFrame({"Id": test["Id"], 'Sales': np.expm1(test_probs)})
result.to_csv("xgboost_10_submission.csv", index=False)

# feature importance

In [337]:
create_feature_map(features)
importance = gbm.get_fscore(fmap='xgb.fmap')
importance = sorted(importance.items(), key=operator.itemgetter(1))

df = pd.DataFrame(importance, columns=['feature', 'fscore'])
df['fscore'] = df['fscore'] / df['fscore'].sum()

featp = df.plot(kind='barh', x='feature', y='fscore', legend=False, figsize=(6, 10))
plt.title('XGBoost Feature Importance')
plt.xlabel('relative importance')
fig_featp = featp.get_figure()
fig_featp.savefig('feature_importance_xgb.png', bbox_inches='tight', pad_inches=1)